
.Level1>li {
    display: none;
}
  

.Level1 {
    margin-top: 30px;
    position: absolute;
}

#menu li:hover .Level1 li {
    margin-left: -35px;
    display : block;
    background-color: #ecf0f1;
    box-shadow: var(--box-shadow);
    margin-bottom: 5px;
}

